.hero-insights{
    padding: 116px;
    &__subtitle{
        margin-bottom: 48px;
        color: var(--MED-Medium-Blue, #2514BE);

        /* MED/Subtitle Big */
        font-family: 'Inter',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 19.8px */
        letter-spacing: 0.9px;
        text-transform: uppercase;
    }
}