.impact-2020-download {
    padding: 116px;

    &__block {
        display: flex;
        column-gap: 48px;
        flex-direction: row;
        margin-bottom: 84px;

        &-left {
            padding: 36px;
            width: 580px;
            height: 327px;
            border-radius: 24px;
            background: var(--MED-White, #FFF);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* MED/card-shadow-02 */
            box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.10);

            &-footer {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                &-format {
                    display: inline-flex;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;

                    border-radius: 12px;
                    border: 1px solid var(--MED-Medium-Blue, #2514BE);
                    color: var(--MED-Medium-Blue, #2514BE);

                    /* MED/Button/Bold */
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.7px;
                    text-transform: uppercase;
                }

                &-descr {

                    &-subtitle {
                        color: var(--MED-Medium-Blue, #2514BE);

                        /* MED/Subtitle Big */
                        font-family: 'Inter', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 110%;
                        /* 19.8px */
                        letter-spacing: 0.9px;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                    }

                    &-title {
                        color: var(--MED-Medium-Blue, #2514BE);

                        /* MED/H2/Medium */
                        font-family: 'Inter', sans-serif;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 130%;
                        /* 62.4px */
                        letter-spacing: -1.5px;
                    }
                }

            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: flex-start;

            &-title {

                margin-bottom: 24px;
            }

            &-descr {
                color: var(--MED-Black, #000);

                /* MED/Body/Regular */
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                /* 150% */
                margin-bottom: 48px;
            }
        }
    }

    hr {
        border: 2px solid #BCB5F7;
        margin-bottom: 84px;
    }

    &__info {
        margin-bottom: 48px;

        &-subtitle {
            color: var(--MED-Medium-Blue, #2514BE);

            /* MED/Subtitle Big */
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            /* 19.8px */
            letter-spacing: 0.9px;
            text-transform: uppercase;
            margin-bottom: 48px;
        }

        &-block {
            display: flex;
            column-gap: 48px;
            flex-direction: row;
            align-items:center;

            &-left {
                display: flex;
                width: 580px;
                flex-direction: column;
                align-items: flex-start;

                &-title {
                    color: var(--MED-Medium-Blue, #2514BE);

                    /* MED/H3/Medium */
                    font-family: 'Inter', sans-serif;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    /* 46.8px */
                    letter-spacing: -1px;
                    margin-bottom: 24px;
                }

                &-descr {
                    color: #000;

                    /* MED/Body/Regular */
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    /* 150% */
                }
            }

            &-right {
                padding: 36px;
                width: 580px;
                height: 327px;
                border-radius: 24px;
                background: var(--MED-White, #FFF);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                /* MED/card-shadow-02 */
                box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.10);

                &-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-format {
                        display: inline-flex;
                        padding: 24px;
                        flex-direction: column;
                        align-items: flex-start;

                        border-radius: 12px;
                        border: 1px solid var(--MED-Medium-Blue, #2514BE);
                        color: var(--MED-Medium-Blue, #2514BE);

                        /* MED/Button/Bold */
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.7px;
                        text-transform: uppercase;
                    }

                    &-descr {

                        &-subtitle {
                            color: var(--MED-Medium-Blue, #2514BE);

                            /* MED/Subtitle Big */
                            font-family: 'Inter', sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 110%;
                            /* 19.8px */
                            letter-spacing: 0.9px;
                            text-transform: uppercase;
                            margin-bottom: 6px;
                        }

                        &-title {
                            color: var(--MED-Medium-Blue, #2514BE);

                            /* MED/H2/Medium */
                            font-family: 'Inter', sans-serif;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%;
                            /* 62.4px */
                            letter-spacing: -1.5px;
                        }
                    }

                }
            }
        }
    }
    &__footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
    }
   
}