@media (max-width:1430px){
    .contaianer{
        max-width: 960px;
    }
    .header{
        .container{
            max-width: 100%;
        }
        &__wrapper{
            flex-direction: column;
            align-items:flex-start;
            padding: 48px 48px 48px 48px;
        }
        
        &__nav{
            flex-direction: column;
            position: absolute;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 86px;
            padding-left: 40px;
            padding-top: 20px;
            padding: 20px 20px 20px 48px;
            left: -100%;
            gap: 40px;
            transition: 0.6s all;
            min-height: 100vh;
            background-color:white;
            width: 100%;
            height: 100%;
            ul{
                flex-direction: column;
                align-items:flex-start;
                li{
                    margin-bottom: 40px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__hamburger{
            display: flex;
        }
    }
    .approach, .approach-programs{
        &__wrapper{
            flex-wrap: wrap;
        }
    }
    .community-impact{
        &__wrapper{
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }
    }
    .technology{
        &__wrapper{
            flex-wrap: wrap;
        }
    }
    .footer{
        &__content{
            column-gap:96px;
            &-right{
                flex-wrap: wrap;
            }
            ul{
                width: 160px;
            }
        }
    }
    .countries-list{
        &__item{
            column-gap:48px;
            img{
                width: 50%;
            }
        }
    }
    .hero-programs{
        &__wrapper{
            padding-right: 0;
        }
        &__map{
            background-position-x: 190%;
            background-size: 92%;
            background-position-y: 55%;
            width: 900px;
            &-markers{
                width: 307.17px;
            }
        }
        
    }
    .hero-approach {
        &__title{
            width: 100%;
        }
        &__main{
            margin-bottom: 36px;
            img{
                width: 50%;
            }
        }
        &__footer{
            &-content{
                flex-wrap: wrap;
                &-title{
                    margin-bottom: 36px;
                }
            }
        }
    }
    .principles{
        &__image{
            img{
                width: 100%;
            }
        }
    }
    .hero-technology{
        &__header{
            flex-direction: column-reverse;
            &-info{
                &-list{
                    margin-bottom: 48px;
                }
            }
        }
    }
    .platform-features{
        &__list{
            column-gap:24px;
            &-item{
                width: 360px;
            }
        }
    }
    .community-impact-technology{
        &__wrapper{
            gap: 48px;
            flex-direction: column-reverse;
        }
    }
    .featured-stories{
        &__list{
            justify-content: center;
            &-item{
                width: 480px;
            }
        }
    }
    .impact-2020{
        &__block{
            &-info{
                padding-right: 24px;
            }
            &-item{
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
            &-buttons{
                padding-right: 24px;
            }
        }
        &__wrapper{
            column-gap:48px;
            img{
                width: 50%;
                height: 50%;
            }
        }
    }
    .impact-2019{
        &__block{
            &-info{
                padding-left: 24px;
                &-list{
                    flex-wrap: wrap;
                }
            }
            &-item{
                flex-wrap: wrap;
                flex-direction: column;
            }
            &-buttons{
                padding-left: 24px;
            }
        }
        &__wrapper{
            column-gap:48px;
            img{
                width: 50%;
                height: 50%;
            }
        }
    }
    .community-impact-approach{
        &__wrapper{
            column-gap:48px;
            img{
                width: 50%;
            }

        }
    }
    .featured-posts{
        &__main{
            &-info{
                &-subtitle{
                    width: 100%;
                }
            }
        }
    }
    .publications{
        &__list{
            justify-content: center;
          
        }
    }
    .publications-reports{
        &__list{
            &-item{
                &-left{
                    width: 450px;
                }
            }
        }
    }
    .our-vision{
        &__blocks{
            min-width: 0;
        }
    }
    .our-team{
        &__wrapper{
            flex-direction: column-reverse;
        }
    }
    .community-impact-our{
        img{
            width: 50%;
        }
    }
    .details-contact-us{
        img{
            width: 50%;
        }
    }
    .form-contact-us{
        &__form{
            grid-template-columns: repeat(2,280px);
            justify-content: center;
        }
    }
    .body-services{
       &__list{
            &-item{
                width: 600px;
            }
       }
    }
    .overview-blog{
        padding: 116px 0 116px 24px;
        &__info{
            column-gap:48px;
        }
    }
    .how-it-works{
        &__list{
            &-item{
                width: 100%;
            }

        }
        &__image{
            width: 100%;
        }
    }
    .report-highlights{
        &__main{
            &-info{
                &-subtitle{
                    width: 100%;
                }
            }
        }
    }
    .more-articles{
        &__blocks{
            justify-content: center;
        }
    }
    .header-post{
        padding: 72px 72px 72px 0;
        &__contact{
            padding-left: 72px;
        }
    }
    .body-post{
        &__wrapper{
            justify-content: center;
            gap: 48px;
        }
        &__socials{
            padding-left: 116px;
        }
        &__main{
            width: 764px;
            padding-right: 116px;
            
            &-first, &-second, &-footer{
                width: 100%;

            }
            &-image{
                width: 50%;
                border-radius:24px;
            }
            &-second{
                &-images{
                    justify-content: center;
                }
            }

        }
    }

    .team-card-overlay{
        width: 900px;
    }
    
}

@media (max-width:992px){
    .container{
        max-width: 720px;
    }
    .text{
        &-5xl{
            font-size: 36px;
        }
        &-7xl{
            font-size: 40px;
        }
    }
    .hero-programs{
        &__title{
            width: 100%;
        }
    }
    .partners{
        &__list{
            justify-content: center;
        }
    }
    .approach, .approach-programs{
        &__wrapper{
            padding: 48px;
        }
        &__image{
            img{
                width: 100%;
                height: auto;
            }
            
        }
    }
    .blog{
        &__posts{
            justify-content: center;
           
        }
    }
    .newsletters{
        &__block{
            width: 560px;
            
        }
    }
    .hero-programs{
        &__wrapper{
            padding: 91px 0 100px;
        }
        &__map{
            padding-right: 0;
            padding-top: 25px;
            width: 700px;
            background-position-x: 254%;
            background-position-y: 49%;
            &-markers{
                width: 241px
            }
            &-info{
                &-descr{
                    width: 280px;
                }
            }
        }
        
    }
    
    .countries-list{
        &__item{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            &:nth-child(odd){
                flex-direction: column-reverse;
            }
            img{
                width: 100%;
            } 
           
        }
    }
    .hero-approach{
        &__footer{
            &-content{
                &-title{
                    width: 100%;
                }
                &-descr{
                    width: 100%;
                }
            }
           
        }
    }
    .for-patients{
        &__item{
            padding: 48px 48px;
            &-header{
                padding-right: 0;
            }
            &-main{
                &-block{
                    border-radius:24px;
                    &-info{
                        width: auto;
                    }
                }
            }
        }
    }
    .for-partners{
        &__item{
            padding: 48px 48px;
            &-header{
                padding-left: 0;
            }
            &-main{
                &-block{
                    border-radius:24px;
                    &-info{
                        width: auto;
                    }
                    img{
                        border-radius:0;
                    }
                }
            }
        }
    }
    .for-health-systems{
        &__item{
            padding: 48px 48px;
            &-header{
                padding-right: 0;
            }
            &-main{
                
                &-block{
                    border-radius:24px;
                    &-info{
                        width: auto;
                    }
                }
            }
        }
    }
    .platform-features{
        &__list{
            &-item{
                width: 100%;
            }
        }
    }
    .principles{
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__image{
            &-descr{
                width: 100%;
            }
        }
    }
    .impact-2020{
        &__wrapper{
            flex-wrap: wrap;
            flex-direction: column;
            img{
                margin-bottom: 24px;
            }
            
        }
        &__block{
            &-info{
                padding-right: 0;
            }
            &-buttons{
                padding-right: 0;
            }
        }
    }
    .impact-2019{
        &__wrapper{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            img{
                margin-bottom: 24px;
            }
            
        }
        &__block{
            &-info{
                padding-left: 0;
            }
            &-buttons{
                padding-left: 0;
            }
        }
    }
    .community-impact-approach{
        &__wrapper{
            flex-direction: column;
            img{
                width: 100%;
                
                margin-bottom: 24px;
            }
        }
    }
    .featured-posts{
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__main{
            margin-bottom: 24px;
        }
        &__blocks{
            align-items:center;
            &-item{
                width: 425px;
            }
        }
    }
    .more-posts{
        &__list{
            justify-content: center;
        }
       
    }
    .publications{
        &__pages{
            justify-content: center;
        }
    }
    .publications-reports{
        &__list{
            &-item{
                &-left{
                    width: 350px;

                    &-logo{
                        svg{
                            width: 250px;
                        }
                    }
                    &-footer{
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-items: flex-start;
                    }
                }
                &-content{
                    &-title{
                        width: 100%;
                    }
                }
            }
        }
    }
    .form-contact-us{
        &__form{
            grid-template-columns: repeat(2,220px);
            justify-content: center;
        }
    }
    .hero-services{
        &__info{
            width: 100%;
        }
    }
    .body-services{
        &__list{
             &-item{
                 width: 100%;
             }
        }
     }
    .overview-blog{
        &__info{
            flex-direction: column;
            &-left{
                margin-bottom: 48px;
            }
            &-right{
                width: 100%;
            }
        }
    }
    .how-it-works{
        &__wrapper{
            flex-direction: column-reverse;
        }
    }
    .technology-highlights{
        &__blocks{
            justify-content: center;
        }
    }
    .report-highlights{
        &__blocks{
            &-item{
                width: 100%;
            }
        }
        &__main{
            height: 1125px;
            &-info{
                padding: 48px;
            }
        }
    }
    .impact-2020-download{
        &__block{
            flex-direction: column;
            &-left{
                margin-bottom: 48px;
            }
        }
        &__info{
            &-block{
                flex-direction: column;
                &-left{
                    margin-bottom: 48px;
                }
            }
        }
    }
    .body-post{
        &__main{
            width: 500px;
            padding-right: 24px;
        }
    }
    .hero-teams{
        &__info{
            width: 100%;
        }
    }

    .team-card-overlay{
        width: 650px;
    }
    
}
@media (max-width:768px){
    .container{
        max-width: 540px;
    }
    .header{
        &__logo{
           
            svg{
                width: 217.676px;
               
            }
        }
        &__wrapper{
            padding: 12px 12px 12px 12px;
        }
        &__hamburger{
            top: 25px;
        }
        &__nav{
            margin-top: 60px;
            padding: 12px;
        }
    }
    .newsletters{
        &__block{
            &-layout{
                &-newsletters{
                    &-input{
                        width: 100%;
                    }
                }
            }
        }
    }
    .hero, .hero-programs, .hero-technology{
        padding: 24px;
        &__wrapper{
            padding: 0;
        }
        &__title{
            margin-bottom: 24px;
        }
        &__items{
            gap: 0;
            &-block{
                width: 100%;
                margin-bottom: 24px;
                
            }
        }
       
    }
    .approach, .approach-programs{
        &__image{
            margin-bottom: 24px;
        }
    }
    .community-impact{
        &__wrapper{
            gap: 0;
        }
        &__image{
            margin-bottom: 48px;
        }
    }
    .approach, .approach-programs{
        padding: 12px;
        &__wrapper{
            padding: 24px;
        }
    }
    .technology{
        padding: 48px 12px;
        &__wrapper{
            padding:24px;
            justify-content: center;
        }
    }
    .partners{
        background-color: white;
        &__wrapper{
            padding: 24px;
        }
        &__introduction{
            display: none;
            &-short{
                display: inline-block;
            }
        }
        &__list{
            padding: 48px;
            row-gap: 0;
            flex-direction: column;
            align-items: center;
            &-item{
                margin-bottom: 48px;
                &:last-child{
                    margin-bottom: 0;
                }
                svg{
                    path{
                        fill:#54CC90;
                    }
                }
            }
        }
    }
    .community-impact, .community-impact-technology{
        padding: 48px 12px;
        &__image{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .blog{
        margin-bottom: 23px;
        &__wrapper{
            padding: 24px;
        }
        &__header{
            &-title{
                font-size: 36px;
            }
        }
        &__posts{
            &-item{
                width: 100%;
            }
        }
    }
    .newsletters{
        padding: 48px 12px;
        &__block{
            width: 100%;    
            &-layout{
                &-newsletters{
                    width: 100%;
                    border: none;
                    background: transparent;
                    flex-direction: column;
                    margin-bottom: 100px;
                    align-items:normal;
                    &-input{
                        padding: 12px 24px 12px 24px;
                        border: 2px solid var(--MED-Medium-Blue,#2514be); 
                        background: var(--MED-White,#fff);
                        border-radius:50px;
                        margin-bottom: 24px;
                        text-align: center;
                    }
                }
            }
           
            
        }
    }
    .approach, .approach-programs, .community-impact, .technology{
        &__descr{
            align-items: normal;
        }
    }
    .footer{
        padding: 12px;
        hr{
            margin-bottom: 48px;
        }
        &__content{
            justify-content: flex-start;
            margin-bottom: 48px;
            flex-wrap: wrap;
            &-left{
                margin-bottom: 48px;
                width: 100%;
                &-logo{
                    
                        svg{
                            width: 100%;
                           
                        }
                    
                }
            }
            &-right{
                gap: 0;
                flex-wrap: wrap;
                &-locations,&-healper,&-socials{
                    width: 100%;
                    margin-bottom: 48px;
                }
                
            }
        }
        &__down{
            flex-direction: column-reverse;
            &-policy{
                margin-bottom: 12px;
                flex-wrap: wrap;
                column-gap:12px;
            }
        }
    }
    .countries-list{
        &__item{
            padding: 24px;
            &-block{
                align-items:normal;
            }
        }
    }
    .hero-programs{
        &__wrapper{
            align-items: center;
        }
        &__map{
            background-size: 708px;
    background-position-x: 87%;
    background-position-y: 121%;
            width: 500px;
            flex-direction: column;
            &-info{
                width: 100%;
            }
            &-markers{
                width: 260px;
            }
        }
    }
    .hero-approach{
        padding: 0 12px;
        &__wrapper{
            padding: 24px;
        }
        &__main{
            flex-direction: column-reverse;
            img{
                width: 100%;
                margin-bottom: 24px;
            }
        }
        &__items{
            &-block{
                width: 100%;
            }
        }
    }
    .in-page{
        &__list{
            padding: 48px 24px;
            &-item{
                width: 100%;
            }
        }
        
    }
    .principles{
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__list{
            &-item{
                width: 100%;
            }
        }
        
    }
    .for-patients, .for-partners, .for-health-systems{
        &__item{
            padding: 24px;
            &-header{
                margin-bottom: 48px;
                hr{
                    margin-bottom: 48px;
                }
                &-block{
                    flex-direction: column;
                    gap: 0;
                    &-title, &-descr{
                        width: 100%;
                    }
                    &-title{
                        margin-bottom: 24px;
                    }
                }
            }
            &-main{
                &-block{
                    flex-direction: column-reverse;
                    width: 100%;
                    &-info{
                        padding: 24px;
                    }
                    img{
                        width: 50%;
                    }
                }
            }
        }
    }
    .hero-technology{
        &__header{
            &-info{
                &-list{
                    &-item{
                        width: 100%;
                    }
                }
            }
            img{
                width: 100%;
            }
        }
        &__footer{
            &-info{
                &-title,&-descr{
                    width: 100%;
                }
            }
        }
    }
    .demo{
        &__wrapper{
            padding: 24px;
        }
    }
    .platform-features{
        padding: 48px 12px;
        &__list{
            &-item{
                padding:24px;
            }
        }
    }
    .data-privacy{
        padding:48px 12px;
        &__descr{
            width: 100%;
        }
    }
    .hero-impact{
        padding:48px 12px;
        &__descr{
            width: 100%;
        }
    }
    .featured-stories{
        padding: 48px 12px;
        &__list{
            &-item{
                width: 100%;
            }
        }
    }
    .impact-2019, .impact-2020{
        padding: 48px 0;
        &__block{
            padding: 0 24px;
        }
    }
    .community-impact-approach{
        padding: 24px 24px;
        &__info{
            align-items:normal;
            width: 100%;
        }
    }
    .hero-insights{
        padding: 48px 12px;
    }
    .featured-posts{
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__main{
            margin-bottom: 24px;
            &-info{
                padding: 24px;
                &-title{
                    font-size: 36px;
                }
            }
        }
        &__blocks{
            align-items:center;
            &-item{
                width: 100%;
            }
        }
    }
    .more-posts{
        padding: 48px 12px;
        &__pages{
            justify-content: center;
        }
    }
    .publications{
        padding: 48px 12px;
        &__list{
            &-item{
                padding: 24px;
                flex-direction: column;
                
                img{
                    width: 50%;
                    margin: 0 auto;
                    border-radius:0;
                }
                &-info{
                    width: 100%;
                    align-items:normal;
                }
                
            }
        }
    }
    .publications-reports{
        padding: 48px 12px;
        &__list{
            align-content: center;
            &-item{
                flex-direction: column-reverse;
                margin-bottom: 48px;
                &-left{
                    width: 100%;
                    padding: 24px;
                    &-logo{
                        svg{
                            width: 250px;
                        }
                    }
                    &-footer{
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-items: flex-start;
                    }
                }
                &-content{
                    margin-bottom: 24px;
                    align-items:normal;
                    &-title{
                        width: 100%;
                    }
                }
            }
        }
        &__pages{
            justify-content: center;
        }
    }
    .our-story{
        padding: 48px 12px;
        &__list{
            gap: 0;
            &-left, &-right{
                &-item{
                    width: 100%;
                }
            }
           
        }
    }
    .our-vision{
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__info{
            margin-bottom: 48px;
        }
        &__blocks{
            justify-content: center;
        }
    }
    .our-team{
        padding: 48px 12px;
        &__info{
            width: 100%;
            align-items:normal;
        }
        &__image{
            width: 100%;
            height: auto;
        }
    }
    .community-impact-our{
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column;
            gap: 0;
        }
        img{
            margin-bottom: 48px;
        }
        &__descr{
            align-items:normal;
        }
    }
    .hero-contact-us{
        padding: 48px 12px;
        &__title{
            margin-bottom: 48px;
        }
    }
    .details-contact-us{
        padding-left: 12px;
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column-reverse;
            gap: 0;
            align-content:center;
        }
        img{
            border-radius:24px;
            margin-bottom: 48px;
            width: 100%;

        }
    }
    .form-contact-us{
        padding: 48px 12px;
        &__wrapper{
            padding: 24px;
        }
        &__form{
            
            grid-template-columns: repeat(1,100%);
            justify-content: center;
            &-select, &-message, &-btn{
                grid-column: 1;
            }
        }
    }
    .hero-services{
        padding: 48px 12px;
        
    }
    .body-services{
        padding: 48px 12px;
        
     }
     .approach-error{
        padding: 48px 12px;
        &__wrapper{
            align-items:normal;
        }
     }
     .hero-blog{
        &__info{
            width: 100%;
        }
     }
     .overview-blog{
        padding: 48px 12px;
        &__info{
            &-left{
                width: 100%;
            }
            &-right{
                &-block{
                    flex-direction: column-reverse;
                    align-items:center;
                    img{
                        width: 50%;
                    }
                    &-descr{
                        padding: 12px;
                    }
                }

            }
        }
     }
     .how-it-works{
        padding: 48px 12px;
     }
     .technology-highlights{
        padding: 48px 12px;
        &__wrapper{
            padding: 12px;
            border-radius:0;
        }
     }
     .learn-more-technology{
        padding: 48px 12px;
        &__title{
            width: 100%;
        }
     }
     .hero-report{
        padding: 48px 12px;
     }
     .report-highlights{
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__main{
            margin-bottom: 48px;
            height: 852px;
        }
        &__blocks{

            justify-content: center;
            align-items:center;
            &-item{
                width: 264px;
            }
        }
     }
     .more-articles{
        padding: 48px 12px;
        &__pages{
            justify-content: center;
        }
     }
     .impact-2020-download{
        padding: 48px 12px;
        &__block{
            &-left{
                width: 100%;
                &-logo{
                    svg{
                        width: 100%;
                    }
                }
                &-footer{
                    flex-direction: column-reverse;
                    align-items:flex-start;
                    &-format{
                        margin-bottom: 12px;
                    }
                }
            }
            &-content{
                align-items:normal;
            }
        }
        &__info{
            &-block{
                &-left{
                    width: 100%;
                    
                }
                &-right{
                    width: 100%;
                    &-footer{
                        flex-direction: column-reverse;
                        align-items:flex-start;
                        &-format{
                            margin-bottom: 12px;
                        }
                    }
                    &-logo{
                        svg{
                            width: 100%;

                        }
                    }
                    
                }
            }
           
        }
        &__footer{
            a{
                width: 100%;
            }
        }
     }
     .header-post{
        padding: 48px 12px 48px 12px;
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__contact{
            width: 100%;
            padding-left: 0;
        }
        &__main{
            width: 100%;
            margin-bottom: 48px;
            
        }
     }
     .body-post{
        padding: 48px 12px;
        &__wrapper{
            flex-direction: column;
        }
        &__socials{
            padding-left: 0;
        }
        &__main{
            width: 100%;
            padding-right: 0;
            &-image{
                width: 100%;
            }
            &-second{
                &-images{
                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 24px;
                    }
                }
            }
        }
     }
     .hero-teams{
        padding: 48px 12px;
     }
     .stats-teams{
        padding: 48px 12px;
     }
     .team-section{
        padding: 48px 12px;
        &__list{
            &-card{
                align-items:normal;
                width: 100%;
                &-images{
                    width: 100%;
                }
                &-name{
                    width: 100%;
                    &-full-name{
                        width: 100%;
                    }
                }
            }
        }
     }
     .team-overview{
        padding: 48px 12px;
        &__list{
            &-card{
                align-items:normal;
                width: 100%;
                &-images{
                    width: 100%;
                }
                &-name{
                    width: 100%;
                    &-full-name{
                        width: 100%;
                    }
                }
            }
        }
     }

     .overlay{
        padding: 48px 12px;
     }
     .team-card-overlay{
        width: 80%;
        flex-direction: column-reverse;
        img{
            border-radius:0;
            margin: 0 auto;
            width: 50%;
            height: 50%;

        }
        
     }
}
@media(max-width:576px){
    .continer{
        max-width: 100%;
    }
    .technology{
        img{
            width: 100%;
            height: auto;
        }
    }
    .blog{
        &__posts{
            &-item{
                &-image{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .newsletters{
        &__block{
            &-layout{
                &-newsletters{
                    padding: 0;
                }
            }
        }
    }
    .hero-programs{
        &__map{
            background-position-y: 230%;
            background-size: 183%;
            background-position-x: 82%;
            min-height: 600px;
            padding: 0;
            width: 100%;
            background-position-y: 169%;
            background-size: 800px;
            background-position-x: 80%;
            &-info{
                padding: 24px;
                &-descr{
                    width: 100%;
                }
            }
            &-markers{
                width: 300px;
            }
        }
    }
    .data-privacy{
        &__list{
            &-item{
                flex-direction: column-reverse;
            }
        }
    }
    .more-posts{
        &__list{
            &-item{
                width: 100%;
                
            }
        }
    }
    .technology-highlights{
        &__blocks{
            &-item{
                width: 100%;
            }
        }
    }
    .report-highlights{
        &__blocks{
            &-item{
                width: 100%;
            }
        }
    }
}