.pagination{
    padding: 36px 48px 0 48px;
    background-color: $medtronic-labs-color;
    &__wrapper{
        display: flex;
        align-items: flex-start;
        
    }
    &__ref{
        display: flex;
        gap: 12px;
        align-items:center;
        a{
            display: flex;
            gap: 12px;
            align-items:center;
            color: var(--MED-White, #FFF);
            font-family: 'Inter',sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 18.2px */
            opacity: 0.5;
        }
        span{
            color: var(--MED-White, #FFF);
            font-family: 'Inter',sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 18.2px */
        }
    }
}